@charset "UTF-8";

/* WIDGET STYLE RESET */

#mapping-police-violence-widget div,
#mapping-police-violence-widget span,
#mapping-police-violence-widget h1,
#mapping-police-violence-widget h2,
#mapping-police-violence-widget h3,
#mapping-police-violence-widget h4,
#mapping-police-violence-widget h5,
#mapping-police-violence-widget h6,
#mapping-police-violence-widget p,
#mapping-police-violence-widget a,
#mapping-police-violence-widget img,
#mapping-police-violence-widget strong,
#mapping-police-violence-widget b,
#mapping-police-violence-widget u,
#mapping-police-violence-widget i,
#mapping-police-violence-widget ol,
#mapping-police-violence-widget ul,
#mapping-police-violence-widget li,
#mapping-police-violence-widget form,
#mapping-police-violence-widget label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-indent: 0;

}
#mapping-police-violence-widget i.fa {
  font: normal normal normal 100%/1 FontAwesome;
}
#mapping-police-violence-widget ol,
#mapping-police-violence-widget ul {
  list-style: none;
}
